version: '3.5'

services:
  db:
    image: postgres
    environment:
      - pgdata:/var/lib/postgresql/data

  nginx:
    build:
      context: services/nginx
      dockerfile: Dockerfile.development
    ports:
      - "8080:8080"
    volumes:
      - "./services/nginx/basics.conf.template:/basics.conf.template"
      - "./services/nginx/maintenance.html:/usr/src/app/maintenance.html"
    links:
      - app
    environment:
      NGINX_SERVER_ADDRESS: 'app'

  app:
    build:
      context: services/app
      dockerfile: Dockerfile.development
    volumes:
      - "~/.bash_history:/.bash_history"
      - "./services/app:/usr/src/app"
      - "/tmp:/tmp:delegated"
    depends_on:
      - db
