version: '3.5'

services:
  db:
    image: mariadb:10.3
    environment:
      - MYSQL_ROOT_PASSWORD=secret123
    volumes:
      - ./mysql:/var/lib/mysql

  nginx:
    build:
      context: services/nginx
      dockerfile: Dockerfile.development
    ports:
      - "8080:8080"
    volumes:
      - "./services/nginx/basics.conf.template:/basics.conf.template"
      - "./services/nginx/maintenance.html:/usr/src/app/www/maintenance.html"
      - "./services/app/www:/usr/src/app/www"

  app:
    build:
      context: services/app
      dockerfile: Dockerfile.development
    volumes:
      - "~/.bash_history:/.bash_history"
      - "./services/app/www:/usr/src/app/www"
      - "/tmp:/tmp:delegated"
    depends_on:
      - db
