version: '3.5'

services:
  nginx:
    build:
      context: services/nginx
      dockerfile: Dockerfile.development
    ports:
      - "8080:8080"
    volumes:
      - "./services/nginx/basics.conf.template:/basics.conf.template"
      - "./services/nginx/maintenance.html:/usr/src/app/www/maintenance.html"
      - "./services/app:/usr/src/app"

  app:
    build:
      context: services/app
      dockerfile: Dockerfile.development
    volumes:
      - "~/.bash_history:/.bash_history"
      - "./services/app:/usr/src/app"
      - "/usr/src/app/vendor"
      - "/tmp:/tmp:delegated"
    env_file: ".env"